 #banner{
    width: 100%;
    height: 400px;
    background-color: rgb(237,237,237);
 }

#imgbanner{
    margin-left: 55%;
    margin-top: -2%;
}

#titelbanner{
    font-family: mySecondFont;
    font-size: 2.5em;
    color: #333;
    margin-left: 20%;
    margin-top: -15%;
 }

 #titelbanner2{
    font-family: mySecondFont;
    font-size: 2.5em;
    color: #333;
    margin-left: 20%;
    margin-top: -2%;
 }

#filter{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(200,200,200);
    text-align: center;
}

#naamproduct{
    font-family: myFourthFont;
}

 #container{
    background-color: rgb(237,237,237);
 }

 #productenlijst{
     height: auto;
     resize: both;
     overflow: auto;
     width: 80%;
     margin: 0 auto;
 }

 #producten{
    float: left;
    margin-left: 1.5%;
    margin-top: 1%;
    text-align: center;
    width: 350px;
    height: 500px;
    background-color: white;
}

 #productenimg{
     margin-top: 10%;
 }

#beschrijvingproduct, #prijsproduct{
    font-family: myThirdFont;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
}

#detialleproduct{
    width:auto;
    font-family: myThirdFont;
    text-align: center;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: blue;
}